@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --calender-btn-bg-theme: #cbd5e1;
  --calender-btn-text-theme: #334155;
  --calender-btn-hover-bg-theme: #94a3b8;
  --calender-listView-hover-bg-theme: #cbd5e1;
  --scrollbar-track: #eee;
  --scrollbar-thumb: #ccc;
}

::-webkit-scrollbar {
  width: 0.678rem;
}
.main::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}
.main::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

aside::-webkit-scrollbar {
  width: 0px;
}

#root {
  height: 100%;
  position: relative;
}

#portal {
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.active {
  color: #34d399;
}

.MuiDataGrid-root.MuiDataGrid-root--densityStandard.MuiDataGrid-withBorderColor {
  height: fit-content !important;
}

.fc .fc-button:focus,
.fc .fc-button-primary:focus,
.fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  box-shadow: none !important;
  border: none !important;
  opacity: 0.8 !important;
}

.fc .fc-button-primary {
  background-color: var(--calender-btn-bg-theme);
  color: var(--calender-btn-text-theme);
  border: none;
}

.fc .fc-button-primary:focus-visible {
  border: none;
  outline: none;
}

.fc .fc-button:focus,
.fc .fc-button-primary:focus,
.fc-button-active:focus,
.fc .fc-button:hover,
.fc .fc-button-primary:hover,
.fc-button-active:hover,
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button:active,
.fc .fc-button-primary:active,
.fc-button-active:active,
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: var(--calender-btn-hover-bg-theme);
}

.fc .fc-list-sticky .fc-list-day > * {
  background-color: var(--calender-btn-hover-bg-theme);
}

.fc-theme-standard .fc-list-day-cushion,
.fc .fc-cell-shaded {
  background-color: transparent;
}

.fc-list-table .fc-list-event:hover td {
  background-color: var(--calender-listView-hover-bg-theme);
}

.fc-scroller.fc-scroller-liquid-absolute {
  overflow: hidden !important;
}

.fc.fc-media-screen {
  height: 100%;
}

.fc .fc-button {
  padding: 0.2em 0.4em;
}

.fc .fc-button .fc-icon {
  font-size: 1.5em;
}

.fc .fc-today-button {
  margin-left: 0px !important;
  margin-top: 0.2em !important;
}

@media screen and (min-width: 768px) {
  .fc.fc-media-screen {
    height: auto;
  }

  .fc .fc-button {
    padding: 0.4em 0.6em;
  }

  .fc .fc-button .fc-icon {
    font-size: 1em;
  }

  .fc .fc-today-button {
    margin-left: 0.75em !important;
    margin-top: 0em !important;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .primary-bg-theme {
    @apply bg-slate-50 dark:bg-slate-800;
  }
  .secoundary-bg-theme {
    @apply bg-slate-100 dark:bg-slate-900;
  }
  .thirdary-bg-theme {
    @apply bg-slate-200 dark:bg-slate-700;
  }
  .primary-text-theme {
    @apply text-gray-900 dark:text-gray-200;
  }
  .secoundary-text-theme {
    @apply text-gray-800 dark:text-gray-300;
  }
  .thirdary-text-theme {
    @apply text-gray-600 dark:text-gray-400;
  }
  .text-highlighter-theme {
    @apply text-emerald-500;
  }
  .bg-highlighter-theme {
    @apply bg-emerald-500;
  }
  .border-highlighter-theme {
    @apply border-emerald-500;
  }
  .text-error-theme {
    @apply text-rose-500;
  }
  .common-transition {
    @apply transition-all duration-300 ease-linear;
  }
  .chart-page-container {
    @apply flex flex-col h-full;
  }
  .common-page-heading {
    @apply text-center font-bold text-2xl primary-text-theme;
  }
}
